.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 35px;
  background: #222831;
  color: #eeeeee;
  align-items: center;
  height: 80px;
  box-shadow: 1px -20px 24px #eeeeee;
}
.title {
  font-size: 30px;
}
.tabs-container {
  display: flex;
  align-items: center;
  gap: 35px;
  font-size: 23px;
}

.tabs {
  color: #eeeeee;
}

.tabs:hover {
  color: #00adb5;
  filter: brightness(50.5) contrast(50.5);
}

.selected {
  color: #00adb5;
}

.search-container {
  width: 350px;
  min-width: 100px;
}
.search {
  width: -webkit-fill-available;
  padding: 10px 25px;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 25px;
}

.search::placeholder {
  justify-items: center;
}
