<header>
  <div class="title-container">
    <span class="title">TeeRex Store</span>
  </div>
  @if (!carts) {
  <div class="search-container">
    <input
      [(ngModel)]="search"
      (ngModelChange)="onSearchChange($event)"
      (keyup.enter)="onSearchChange(search)"
      placeholder="Search..."
      type="text"
      class="search"
    />
  </div>
  }
  <nav>
    <div>
      <span
        [class.selected]="products"
        class="tabs pointer"
        (click)="onTabChange(PRODUCTS)"
        >Products</span
      >
      <div class="underline"></div>
    </div>
    <div>
      <fa-icon
        [class.selected]="carts"
        class="tabs pointer"
        (click)="onTabChange(CARTS)"
        [icon]="faShoppingCart"
      ></fa-icon>
      <div class="underline"></div>
    </div>
  </nav>
</header>
