:host {
  width: 240px;
  min-width: 240px;
}
.filter {
  background-color: #393e46;
  color: white;
  padding: 40px 40px;
  gap: 10px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.option-container {
  gap: 5px;
}

input[type="checkbox"] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  accent-color: #393e46;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: emoji;
  text-transform: capitalize;
}
.filter-option {
  display: flex;
  padding-left: 10px;
  gap: 5px;
  align-items: center;
}
.option-title {
  color: #eeeeee;
}
.divider {
  width: 100%;
  opacity: 0.2;
}
