.card-view-container {
  width: 250px;
  background-color: #222831;
  color: white;
  display: grid;
  justify-content: center;
  position: relative;
  height: fit-content;
}

img {
  width: 250px;
  height: 250px;
}
.type-container {
  position: absolute;
  gap: 10px;
  top: 10px;
  right: 10px;
}
.type {
  background-color: black;
  width: fit-content;
  padding: 0px 8px;
  border-radius: 40px;
  height: fit-content;
}
.details-container {
  color: #eeeeee;
  padding: 10px 10px;
  gap: 5px;
}
.price-container {
  font-size: larger;
  font-weight: 600;
  font-family: emoji;
}
.cart-btn {
  padding: 5px 5px;
  background: black;
  color: #eeeeee;
  border-color: transparent;
  outline: none;
  font-weight: 600;
  font-family: emoji;
  cursor: pointer;
}
.out-of-stock {
  padding: 5px 5px;
  background: #eeeeee;
  color: black;
  border-color: transparent;
  outline: none;
  font-weight: 600;
  font-family: emoji;
}
.cart-btn:hover {
  background-color: #eeeeee;
  color: black;
}
.gender {
  color: black;
  font-size: 20px;
}
