:host {
  height: 100%;
  overflow: auto;
}
.product-list-container {
  justify-content: center;
  height: 100%;
  overflow: auto;
}
.product-container {
  background-color: #393e46;
  height: 100%;
  overflow: hidden;
}
.product {
  width: fit-content;
}
.product-list {
  gap: 30px 20px;
  margin: 50px 0px;
}
.no-show {
  align-items: center;
  display: flex;
  color: #eeeeee;
  font-family: emoji;
  font-weight: 800;
  font-size: 20px;
}
