<div class="product-container flex">
  <app-filter [filterItems]="filterItems"></app-filter>

  <div class="product-list-container grid fill-h" #product>
    @if (products && products.length > 0) {
    <div
      [ngStyle]="{
        'grid-template-columns': columnExp
      }"
      [style.width.px]="productListingWidth"
      class="product-list grid"
    >
      @for (item of products; track $index) {
      <app-card-view class="product grid" [item]="item"></app-card-view>
      }
    </div>
    } @else {
    <div class="no-show">NO ITEMS TO SHOW</div>
    }
  </div>
</div>
